@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Brezy Weather!</h1>
    <p>A simple light-weight app to view Weather data.</p>
    <br/>
    <h5>Get started by selecting a city from the Locations menu.</h5>
</div>
